.custom_pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.custom_pagination {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 8px;
}

.custom_pagination li {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 3px;
  padding: 4px 8px;
  border: 1px solid #007bff;
  border-radius: 5px;
  color: #007bff;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.custom_pagination li:hover {
  background-color: #a0a0a0;
  color: white;
}

.custom_pagination .active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

.custom_pagination .disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .custom_pagination {
    gap: 4px;
  }
  .custom_pagination li {
    padding: 6px 10px;
    font-size: 14px;
  }
}
